/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
}
a {color: #333}
.container {
  width: 100%;
  background-color: #f2f2f2;
}
.btn {
  width: 90px;
  height: 20px;
  background-color: #f2f2f2;
  text-align: center;
  padding: 3px;
  border-radius: 20px;
  opacity: 80%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #b3c6ff;
}
h2 {
  font-size: 18px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.navleft, .navbar,.box2header { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.navright, .article { -ms-flex-pack: distribute; justify-content: space-around;}
   /* Navigation */
.navbar {
    width: 100%;
    background-color: #f2f2f2;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 10px;
    padding: 5px;
    }
.navleft, .navright {
       width: 20%;
     }
.ball {
       width: 10px;
       height: 10px;
       background-color: #b3c6ff;
       border-radius: 50%;
   }
.navleft a, .navright  a {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
   }
.navbar a:hover {
       font-size: 18px;
       color: #b3c6ff;
   }
.list {
  display: none;
}
/* Sections */
.box1 {
    width: 98%;
    height: 200px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
  }
.mainbox h2{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #808080;
  }
.mainbox img {
    width: 100%;
    height: 200px;
  }
.secondbox {
      position: absolute;
      bottom: 30px;
      left: 10px;
  }
.secondbox h2 {
      font-size: 18px;
      color: #f2f2f2;
      margin-bottom: 20px;
      margin-top: 30px;
  }
.title {
      font-size: 14px;
      color: #f2f2f2;
      margin-bottom: 20px;
      opacity: 80%;
  }
.btn2 {
      position: absolute;
      top: 10px;
      right: 10px;
  }
.header3 {  
    position: absolute;
    top: 13px;
    right: 130px;
    color: #808080;
}
.box2 {
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e6e6e6;
  margin: 10px 10px;
}
.box2header {
  padding: 20px 10px;
}
.date {
  font-size: 18px;
  color: #808080;
  opacity: 70%;
}
.article {
    margin-bottom: 10px;
}
.article img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.text h3 {
  font-size: 14px;
  color:#808080;
  opacity: 80%;
  margin-bottom: 5px;
}
.text p {
  margin: 5px 0;
}
.box3 {
  width: 40%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background-color: #e6e6e6;
  margin: 10px 10px;
}
.box3 img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
.box3content {
  position: absolute;
  top: 5px;
  left: 5px;
}
.box3content h2 {
  color: #e6e6e6;
  margin: 10px 0;
}
.header {
  font-size: 18px;
  color: #808080;
  margin-bottom: 10px;
}
.headercontent {
  width: 70%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10px;
}
.circle {
  background-color: #808080;
}
.content2 {
  margin-left: 10px;
}
.content2text1 {
  margin-bottom: 10px;
}
.submit {
  width: 60px;
  cursor: pointer;
}
.btn4 {
  margin: 10px 0;
  background-color: #808080;
}

@media (max-width: 768px){
  .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box2, .box3 {
    width: 97%;
    margin: 0 auto;
  }
  .navleft, .navright {
    width: 50%;
  }
}
@media (max-width: 360px){
  .navleft {
    width: 70%;
  }
  .secondbox h2 {
    margin-bottom: 5px;
  }
  .list {
    display: block;
  }
  .navright {
    display: none;
  }
  .line {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #808080;
    margin: 3px;
  }
}
@media (max-width: 280px){
  .navleft  a, .navright a {
   font-size: 14px;
  }
  .secondbox h2 {
    margin-bottom: 2px;
  }
  .date {
    font-size: 12px;
  }
  h2, .article, .content2text1 { font-size: 15px;}
}